<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html>
<head>
	<title>UDFORSK</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
	<link href="/css/style.css" type="text/css" rel="stylesheet"/>


</head>
<body>
<div class="container vr">
	<div class="row">
		<div class="col-sm">
			<img class="logo" src="online-dating.png" alt="logo" style="width: 75px; height: 75px;">
		</div>
		<div class="col-sm">
			<a href="/myProfile"><p class="explore-head">MIN PROFIL</p></a>
			<a href="/explore"><p class="explore-head1">UDFORSK</p></a>
		</div>
	</div>
</div>
<div class="candidate-view">
	<img th:src="@{${testUser.imageName}}" width="200" height="200"/>
	<p class="testing" th:text="@{${testUser.fullName}}"></p>
	<p th:text="@{${testUser.bio}}"></p>
</div>

<div>
	<input type="image" id="imageNo" alt="No" src="negative.png" class="negative-img">
	<input type="image" id="imageYes" alt="Yes" src="plus.png" class="plus-img">
</div>

<div>
	<a href="/candidateList"><p class="candidateList">SE KANDIDATLISTE</p></a>
</div>


</body>
</html>