<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">
<html>
<head>
    <title>MIN PROFIL</title>
    <link href="https://fonts.googleapis.com/css2?family=Share+Tech&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link href="/css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>

<div class="container vr">
    <div class="row">
        <div class="col-sm">
            <form action="/logout" method="post">
                <input type="image" id="logo" alt="logo" src="online-dating.png" class="logo" style="width: 75px; height: 75px;">
            </form>
        </div>
        <div class="col-sm">
            <form action="/myProfile" method="get">
                <input type="submit" value="MIN PROFIL" class="myProfile-head1">
            </form>

            <form action="/explorePost" method="post">
                <input type="submit" value="UDFORSK" class="myProfile-head">
            </form>

            <form action="/showMsgReceivers" method="post">
                <input type="submit" value="MINE BESKEDER" class="myProfile-head2">
            </form>

            <form action="/adminMemberList" method="post">
                <input th:if="@{${user.getUsergroup() == 0}}" type="submit" value="MEDLEMMER" class="myProfile-head3">
            </form>
        </div>
    </div>
</div>
<div class="container">
    <div class="row tm">
        <div class="col-sm">
            <form action="/PasswordPost" method="post">
                <input type="password" class="oldPw" id="oldPassword" name="oldPassword" placeholder="Gammelt Kodeord" required>
                <input type="password" class="newPw" id="newPassword" name="newPassword" placeholder="Nyt Kodeord" required>
                <input type="password" class="newPw" id="newPassword1" name="newPassword1" placeholder="Nyt Kodeord" required>
                <input type="submit" value="GEM KODE" class="submitPassword">
            </form>
        </div>

        <div class="col-sm">
            <img class="myprofile-pb" th:src="@{${user.imageName}}"/>
            <form action="/upload" method="POST" enctype="multipart/form-data">
                <input type="file" id="myFile" name="file" class="choose" value="VÆLG FIL" title=" ">
                <input type="submit" value="UPLOAD" class="fileUpload">
            </form>
        </div>
    </div>
</div>

<div class="container">
    <div class="row tm">
        <div class="col-sm">
            <form action="/EmailPost" method="post">
                <input type="email" class="oldEmail" id="oldEmail" name="oldEmail" placeholder="Gammel email" required>
                <input type="email" class="newEmail" id="newEmail" name="newEmail" placeholder="Ny email" required>
                <input type="email" class="newEmail" id="newEmail1" name="newEmail1" placeholder="Ny email" required>
                <input type="submit" value="GEM EMAIL" class="submitEmail">
            </form>
        </div>
        <div class="col-sm">
            <div class="textarea">
                <form action="/infoPost" method="post" id="bioForm">
                    <textarea id="infoBox" name="bio" rows="10" cols="50" th:text="${user.getBio()}" placeholder="Beskriv dig selv her..."></textarea>
                    <input type="submit" value="GEM BESKRIVELSE" class="submitDescription">
                </form>
            </div>
        </div>
    </div>
    </form>
</div>





</div>

</body>
</html>