<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
  <link href="/css/style.css" type="text/css" rel="stylesheet"/>
</head>
<body>
<div class="container">
  <div class="row">
    <div class="col-sm">
      <img class="logo" src="online-dating.png" alt="logo" style="width: 50px; height: 50px;">
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <div class="register">
      <form action ="/registerPost" method="post">
        <input type="text" class="regName" id="name" name="name" placeholder="Full name" required>
        <input type="email" class="regMail" id="email" name="email" placeholder="Email" required>
        <input type="text" class="regUsername" id="username" name="username" placeholder="Username" required>
        <input type="password" class="regPw" id="password" name="password" placeholder="Password" required>
        <input type="reset" value="NULSTIL" class="resetbutton">

        <input type="submit" value="REGISTRER" class="registerbutton">
      </form>
    </div>
  </div>
</div>





</body>
</html>